
.navbar  li {

  list-style: none;
  display: inline-block;
  margin: 0 20px;
 
}
.navbar {
 
  display: flex;
  background-color: #c266d3;
  font-size: larger;
   /* justify-content: space-between; */
}

.form{
 border: 0cm;
 box-sizing: border-box;
 border: 10px solid gray;
 padding: 5px 2px;

 
}

.crud{
  text-align: center;
  background-color: darkgoldenrod;
 
  justify-content: center;

}
.name{
 text-align: center;
 font: bold;
  
 
}
.mobilenum{
  text-align: center;
}
.emailid{
  text-align: center;
}
.button{

  text-align: center;
}


.gender{
  text-align: center;

}
.hobby{
  text-align: center;
}

.contenar ,th{
  text-align: center;
  
    margin: 25px 25px;
    padding: 20px 20px;


}

.contenar,th,td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  justify-content: center;
}


.error{
  color:red;

}





  

